<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ch18</display-name>
  <servlet>
  		<servlet-name>myController</servlet-name>
  		<servlet-class>ch18.MyController</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>myController</servlet-name>
  		<url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginController</servlet-name>
  		<servlet-class>ch18.com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>loginController</servlet-name>
  		<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <!--  서블릿 등록 --> 
  <servlet>
  		<servlet-name>URservlet</servlet-name>
  		<servlet-class>ch18.com.controller.UrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>URservlet</servlet-name>
  	<url-pattern>/urServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  		<servlet-name>helloServlet</servlet-name>
  		<servlet-class>ch18.com.controller.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>helloServlet</servlet-name>
  	<url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  
</web-app>