<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ch05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--  ch05 웹의 초기화 파라미터  -->
  <context-param>
  		<description>초기화 파라미터(필수는 아님)</description>
  		<param-name>url</param-name>
        <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>  
  </context-param>
  <context-param>
         <description>사용자 아이디</description>
         <param-name>user</param-name>
         <param-value>madang</param-value>
  </context-param>
  <context-param>
         <description>사용자 비번</description>
         <param-name>password</param-name>
         <param-value>madang</param-value>
  </context-param>
  <context-param>
        <description>driver 정보</description>
        <param-name>driver</param-name>
        <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
</web-app>